*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}


body{
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #141517;
}

/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2f3031;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ecc113;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0d1118;
  }

/*TOP SECTION*/

.top-section{
    position: relative;
}

.top-section .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid #2f3031;
}

.top-section .header .nav-links a{
    padding: 0 20px;
}

.top-section .header .nav-links a{
    color: #e1e1e1;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.top-section .header .nav-links a:hover{
    color: #ecc113;
}



.header .logo a{
    font-size: 40px;
    font-weight: 700;
    color: #939393;
}

.header span{
    color: #ecc113;
}


.header .social-links a{
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    background: #37383a;
    color: #131419;
    margin: 0 4px;
    border-radius: 50%;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

}


.header .social-links a:hover{
    background-color: #edc734;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}





/*USER-SESSION-SECTION*/

.user-session-section{
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: #ecc113;
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}


.user-session-section .avatar-content{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    margin-left: 5px;
    cursor: pointer;
}

.user-session-section .avatar-content img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.user-session-section .user-name{
    font-size: 18px;
    font-weight: 530;
    color: #131419;
}


.user-session-section .menu{
    margin-right: 30px;
}


.user-session-section .menu a{
    color: #0d1118;
    font-size: 24px;
}










/*SECOND SECTION*/

.second-section{
    width: 100%;
    height: 100%;
}

.second-section h1{
    color: #e1e1e1;
    margin: 30px 130px;
    cursor: pointer;
}

.second-section .article-container{
    width: 80%;
    height: 70vh;
    margin: 20px auto;
    background-color: #2f3031;
    padding: 20px 40px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.second-section .article-container .article-det-details h2{
    color: #e1e1e1;
    margin: 30px 0px;
}

.second-section .article-container p{
    color: #e1e1e1;
    margin-bottom: 10px;
}




.second-section .article-container .img-content{

    width: 50%;
    height: 50vh;
    margin-bottom: 0px;
    margin-right: 20px;
}




.second-section .article-container .article-det-details{
    width: 50%;
}


.second-section .article-container .article-det-details a{
    margin-top: 10px;
    color: #0d1118;
    background-color: #ecc113;
    font-weight: 550;
    padding: 10px 30px;
}
















/*FOOTER*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 20px 30px;
    background-color: #0d1118;
    border-top: 2px solid #2f3031;
}


.footer .logo a{
    font-size: 40px;
    font-weight: 700;
    color: #939393;
}

.footer span{
    color: #ecc113;
}

.footer .navigation{
    padding-top: 50px;
}

.footer .navigation .navigation-title{
    color: #e1e1e1;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 20px;
}

.footer .navigation .nav-links{
    display: flex;
    flex-direction: column;
}

.footer .navigation .nav-links a{
    padding: 0 20px;
    color: #e1e1e1;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.footer .navigation .nav-links a:hover{
    color: #ecc113;
}


.footer .contact .contact-details{
    display: flex;
    flex-direction: column;
}


.footer .contact .contact-info{
    color: #e1e1e1;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 20px;
}


.footer .contact .contact-details a{
    padding: 0 20px;
    color: #e1e1e1;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.footer .contact .contact-details a:last-child{
    color: #ecc113;
}

.footer .contact .contact-details a:hover{
    color: #ecc113;
}