*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}


body{
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #141517;
}

/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2f3031;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ecc113;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0d1118;
  }


/*TOP SECTION*/

.top-section .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid #2f3031;
}

.top-section .header .nav-links a{
    padding: 0 20px;
}

.top-section .header .nav-links a{
    color: #e1e1e1;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.top-section .header .nav-links a:hover{
    color: #ecc113;
}

a{
    color: #939393;
}

.header .logo a{
    font-size: 40px;
    font-weight: 700;
}

.header span{
    color: #ecc113;
}


.header .social-links a{
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    background: #37383a;
    color: #131419;
    margin: 0 4px;
    border-radius: 50%;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

}


.header .social-links a:hover{
    background-color: #edc734;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.header .menu{
    display: none;
}


.header .menu a{
    color: #e1e1e1;
    font-size: 24px;
}



/*SECOND SECTION*/

.second-section{
    width: 100%;
    height: 100vh;
    position: relative;
}

.second-section .img-filter{
    width: 100%;
    height: 100vh;
    background-image: url("img/AdobeStock_193128467_1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #131419;
    position: absolute;
    top: 0;
    filter: opacity(0.1);
}


.second-section .titles{
    position: absolute;
    top: 50px;
    right: 0px;
    width: 20%;
}

/* .second-section .titles .line{
    height: 40vh;
    border-radius: 20px;
    width: 4px;
    background: #ecc113;
    margin: 5px;
} */


.second-section .titles h3{
    font-weight: 500;
    font-size: 16px;
    color: #e1e1e1;
}


.second-section .titles h2{
    color: #e1e1e1;
    font-size: 50px;
    font-weight: 400;
}


.second-section .titles h1{
    font-size: 50px;
    font-weight: 900;
    color: #ecc113;
}


.second-section .titles p{
    color: #e1e1e1;
    font-weight: 500;
}


.second-section .titles h4{
    color: #e1e1e1;
    font-weight: 500;
}


.second-section .btn-sign-up{
    position: absolute;
    right: 100px;
    bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #131419;
    width: 400px;
    height: 50px;
    background-color: #ecc113;
    padding: 5px 10px;
}


.second-section .btn-sign-up .fa-angle-right{
    padding: 0 10px;
    /* width: 30px;
    height: 30px;
    padding: 0px 20px 10px 10px; */
    color: #ecc113;
    background-color: #131419;
}


.second-section .btn-sign-up:hover{
    background-color: #e1e1e1;
}

.second-section .btn-sign-up.fa-angle-right:hover{
    color: #e1e1e1;
}


/*THIRD SECTION*/
.third-section{
    width: 100%;
    height: 80vh;
    padding: 0 30px;
    display: flex;
}

.third-section .player-profile{
    width: 100%;
    height: 80vh;
    position: relative;
    cursor: pointer;
}

.third-section .player-profile .img1,.third-section .player-profile .img2,
.third-section .player-profile .img3,.third-section .player-profile .img4{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.third-section .player-profile .img1{
    background-image: url("img/basketball-player-last.jpg");
}
.third-section .player-profile .img2{
    background-image: url("img/baseball-player-last.jpg");
}
.third-section .player-profile .img3{
    background-image: url("img/footballamerican-player-last.jpg");
}
.third-section .player-profile .img4{
    background-image: url("img/foottball-player-last.jpg");
}


.third-section .player-profile .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 21, 4, 0.4);
    transition: all 0.5s ease;
}


.third-section .player-profile .overlay:hover{
    background: rgba(231, 198, 33, .5);
}


.third-section .player-profile .sport-genre{
    position: absolute;
    width: 250px;
    height: 40px;
    padding: 10px 20px;
    color: #131419;
    background-color: #ecc113;
    bottom: 100px;
}

/*FOURTH SECTION*/


.fourth-section{
    width: 100%;
    height: 100vh;
    background-color: #fec303;
    text-align:center;
    padding:30px 30px;
}


.fourth-section .meet{
    color: #131419;
    font-size:40px;
    font-weight: 700;
}

.fourth-section .where{
    color: #131419;
    font-size:50px;
    font-weight: 500;
}

.fourth-section p{
    padding:10px;
    color: #131419;
    font-size:18px;
    font-weight: 300;
}
.fourth-section .card-img-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:10px;
}

.fourth-section .card-img-container .card-img{
    width: 30%;
    height:50vh;
    position: relative;
}

.fourth-section .card-img-container .card-img .member-img{
    width:100%;
    height:55vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}



.fourth-section .card-img-container .card-img .m-img1{
    background-image:url(img/15f2f3f72ce4392e5165f427dee973fa.jpg);
}
.fourth-section .card-img-container .card-img .m-img2{
    background-image:url(img/joel_harper_headshot_color_llr.jpg);
}
.fourth-section .card-img-container .card-img .m-img3{
    background-image:url(img/f640611135e3258f8ca3d97ac11f4430.jpg);
}

.fourth-section .card-img-container .card-img .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:55vh;
    background: rgba(24, 21, 4, 0.3);
    border-radius: 50%;
    transition: all 0.5s ease;
}


.fourth-section .card-img-container .card-img .overlay:hover{
    background: rgba(231, 198, 33, .3);
    cursor:pointer;
}

.fourth-section .card-img-container .card-img .coach-name{
    padding-top:1px;
    font-size:28px;
    font-weight:600;
    color:#131419;
}

.fourth-section .card-img-container .card-img .coach-title{
    font-size:20px;
    font-weight:500;
    color:#131419;
}


/*FIFTH SECTION*/


.fifth-section{
    width: 100%;
    height: 100vh;
    background-color: #141517;
    position: relative;
}


.fifth-section .article-big-title{
    font-size: 40px;
    font-weight: 600;
    color: #ecc113;
    padding: 10px 30%;
}


.fifth-section .article-container{
    width: 80%;
    height: 80vh;
    position: absolute;
    left: 125px;
    top: 75px;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
}

.fifth-section .article-container .article-content{
    position: relative;
    width:50%;
}

.fifth-section .article-container .article-content .img-content{
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
.fifth-section .article-container .article-content .article-img-1{
    background-image: url(img/pexels-pixabay-163510.jpg);
}
.fifth-section .article-container .article-content .article-img-2{
    background-image: url(img/markus-spiske-WUehAgqO5hE-unsplash.jpg);
}
.fifth-section .article-container .article-content .article-img-3{
    background-image: url(img/hermes-rivera-qbf59TU077Q-unsplash.jpg);
}
.fifth-section .article-container .article-content .article-img-4{
    background-image: url(img/neonbrand-6mRaiW6DDCM-unsplash.jpg);
}


.fifth-section .article-container .article-content .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background: rgba(24, 21, 4, 0.3);
    transition: all 0.5s ease;
}

.fifth-section .article-container .article-content .overlay:hover{
    background: rgba(48, 48, 48, 0.7);
}


.fifth-section .article-container .article-content .article-date{
    position: absolute;
    top: 80px;
    left: 50px;
    color: #ecc113;
    font-size: 16px;
    font-weight: 600;
}

.fifth-section .article-container .article-content .article-title{
    position: absolute;
    top: 100px;
    left: 50px;
    color: #e1e1e1;
    font-size: 30px;
    font-weight: 600;
}


.fifth-section .article-container .article-content .article-title:hover{
    color: #ecc113;
    cursor: pointer;
}


/*FOOTER*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 20px 30px;
    background-color: #0d1118;
    border-top: 2px solid #2f3031;
}


.footer .logo a{
    font-size: 40px;
    font-weight: 700;
}

.footer span{
    color: #ecc113;
}

.footer .navigation{
    padding-top: 50px;
}

.footer .navigation .navigation-title{
    color: #e1e1e1;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 20px;
}

.footer .navigation .nav-links{
    display: flex;
    flex-direction: column;
}

.footer .navigation .nav-links a{
    padding: 0 20px;
    color: #e1e1e1;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.footer .navigation .nav-links a:hover{
    color: #ecc113;
}


.footer .contact .contact-details{
    display: flex;
    flex-direction: column;
}


.footer .contact .contact-info{
    color: #e1e1e1;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 20px;
}


.footer .contact .contact-details a{
    padding: 0 20px;
    color: #e1e1e1;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.footer .contact .contact-details a:last-child{
    color: #ecc113;
}

.footer .contact .contact-details a:hover{
    color: #ecc113;
}